#sec-promo h3{
	background-color: rgb(255, 0, 102);
	color: white;
	padding: 10px;
	margin-bottom: 0px;
}

#sec-promo .carousel-caption{
	background-color: rgba(10,10,10,0.7)
	
}

#sec-promo .carousel-caption h3{
	margin-top: 0px;
}

@media (min-width:800px) {
	#sec-promo{
	width: 800px;
	}
}

@media (min-width:1200px) {
	body{
	width: 1200px;
	}
}

.navbar-red{

	background-color: red; 
	color:silver;
}

